@import '../../index.scss';

.container {
  padding: 15px;
}
.avatar {
  border-radius: 50%;
  height:46px;
  width:46px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 2px inset;
}
.content {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;  
}
.nickname {
  font-size: 14px;
  font-weight: 700;
}
.username {
  color: $tFontColor;
}
.followYou {
  background-color: #eff3f4;
  margin-left: 10px;
}
.button {
  float: right;
}
.followBtn {
  background-color: #000;
}
.followingBtn {
  background-color: #fff;
  color: #000;
}